/venv
/__pycache__
.idea
postdb.db
postdb.db-journal
Builded App.zip
/Builded App
/Update App
gologin_zeroprofile.zip
/Final_Version
Final_Version.zip
/Output
storage_state.json
/Version_Changed
Version_Changed.zip
Final_Pro_Version.zip
Final_Pro_Version_v2.zip
/chrome-win